/* Palette colors
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; 
*/

/* General styles */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
}

/* Header styles */

.header-container {
  padding: 0.8rem;
  background-color: #eac926;
}

.logo {
  width: 8rem;
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 90%;
}

.search-bar {
  display: inline-block;
}

.search-icon {
  display: inline-block;
}

.search-bar input {
  height: 15px;
}

.fa-magnifying-glass {
  padding: 0.1rem;
  background-color: #ebebeb;
}

.title-container {
  margin: 10px 0;
  text-align: center;
}

.title {
  display: inline-block;
  font-size: 0.6rem;
  margin-bottom: 10px;
}

.navbar-container {
  display: none;
}

.navbar-container ul {
  padding: 0;
  margin: 0;
}

.navbar li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  margin-right: 0.2rem;
}

.burger-menu {
  width: fit-content;
  margin: 0 auto;
}

.fa-bars {
  font-size: 0.9rem;
  color: white;
  background-color: #1259c3;
  padding: 0.4rem;
  border-radius: 5px;
}

.hero-image img {
  width: 100%;
  object-fit: contain;
}

/* Main Styles */
.main-container {
  width: 90vw;
  margin: 0 auto;
}

.last-visit-title {
  margin: 0.5rem 0;
  color: #666;
  font-size: 1.1rem;
}

.product {
  margin-bottom: 10px;
  background-color: #fff;
}

.product-image {
  text-align: center;
}

.product-image img {
  width: 12rem;
}

.product-info {
  border-top: 1px solid #ebebeb;
  padding: 0.9rem;
}

.truck-icon {
  width: 2rem;
  height: 2rem;
  color: #39b54a;
  border: 1px solid #39b54a;
  border-radius: 50%;
}

.truck-icon i {
  margin: 0.2rem;
}

.price .discount {
  font-size: rem(18px);
}

.discount {
  color: #39b54a;
}

.product-title {
  display: none;
}

.sales-title {
  margin: 0.5rem 0;
  color: #666;
  font-size: 1.1rem;
}

/* Footer styles */
.footer-container {
  text-align: center;
  padding: 3rem;
}

.footer-container i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #1259c3;
}

.footer-container .footer-box {
  margin-bottom: 3rem;
}

.footer-container p {
  margin: 0;
}

.copyright {
  background-color: #666;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Media queries */
@media (min-width: 361px) {
  .navbar-container {
    display: block;
  }

  .burger-menu {
    display: none;
  }

  .product-title {
    display: block;
    margin-top: 0.9rem;
    font-weight: 400;
    color: #666;
  }

  .product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
}

@media (min-width: 769px) {
}
